body { font-family: 'Open Sans', sans-serif !important; background: #eee; }
a {	color: #7ac144 !important; }
a:hover {	color: #666 !important; text-decoration: none !important; }
#topline {
	background-color: #333;
	color: #FFF;
	padding-top: 8px;
}
#topline ul {	list-style-type: none; padding-left: 0px; }
#topline ul li { font-size: 12px; }
#topline ul.pull-left li { display: inline-block; margin-right: 20px; }
#topline ul.pull-right li { display: inline-block; margin-right: 3px; }
#topline ul.pull-right li a { color: #FFF !important; }
#topline ul.pull-right li a:hover { text-decoration: underline; }
#topline ul li:last-child { margin-right: 0px; }
#header {
	background: #FFF;
	padding: 15px 0px;
	border-bottom: 1px solid #E0E0E0;
}
#nav {
	padding: 15px 0px;
	padding-bottom: 6px;
	background: #FFF;
	border-bottom: 1px solid #d6d6d6;
        margin-top: 152px;
}
#nav ul {	list-style-type: none; padding-left: 0px; }
#nav ul.top li.top-list {
	display: inline-block;
	margin-right: 5em;
	color: #27AE61 !important;
}
#nav ul li.top-list > span { text-transform: uppercase; padding-left: 10px; }
#nav ul li.top-list > a {  text-transform: uppercase; color: #5F5F5F; }
#nav ul li.top-list > a:hover {
	text-decoration: none;
	color: #7ac144 !important;
	border-bottom: 3px solid #7ac144;
	padding-bottom: 15px;
}
#nav ul li.top-list:last-child {	margin-right: 0em; }
#nav ul.category {
	background: #FFF;
	position: absolute;
	min-height: 455px;
	top: 195px;
	opacity: 1;
	padding: 6px 0px;
}
#nav ul.category li.category-list {	display: block; }
#nav ul.category li.category-list > a {
	margin: 2px 0px;
	padding: 0.3em 15px;
	display: block;
	color: #000;
	font-size: 13px;
	text-decoration: none;
}
#nav ul.category li.category-list:hover > a {
	background: #27AE61;
	color: #FFF;
}
#nav ul.category li.category-list:hover .sub-category { display: block; }
#nav ul.category li.category-list:hover .category-overlay { display: block; }
.sub-category {
	background: #FFF;
	padding: 10px 15px;
}
.sub-category h5 { 
	font-weight: bold; 
	border-bottom: 2px solid #7ac144; 
	display: inline-block;
	padding-bottom: 6px;
}
.sub-category ul { list-style-type: none; padding-left: 0px; margin-bottom: 15px;  }
.sub-category ul li { margin: 3px 0px; }
.sub-category ul li a {	 font-size: 13px; color: #333 !important; text-decoration: none !important; }
.sub-category ul li a:hover { color: #FFC904 !important; }
.category-overlay {
	position: absolute;
  left: 45em;
  top: 12.5em;
  z-index: 1;
  height: 275px;
  width: 250px;
  display: none;
  background-position-y: 70px;
  background-repeat: no-repeat;
}
.tanaman-hias { background-image: url('../../public/img/tanaman-hias.jpg'); }
.sayuran {	background-image: url('../../public/img/sayuran.jpg'); }
.tanaman-air {	background-image: url('../../public/img/tanaman-air.jpg'); }
#banner {
	width: 68.4em;
	position: relative;
	left: 328px;
	z-index: -1;
	top: 3px;
}
#banner ul { list-style-type: none; padding-left: 0px; margin-bottom: 3em; }
#banner ul li { display: inline-block; width: 100%; }
#banner ul li img { width: 100%; height: 441px; }
ul.product-list {	list-style-type: none; padding-left: 0px; }
ul.product-list .product-img { height: 240px; width: 240px; }
ul.product-list li {
	border: 1px solid #DEDEDE;
	display: inline-block;
	text-align: center;
	margin: 5px;
	float: left;
	padding: 10px;
	background-color: #FFF;
}
ul.product-list li a { color: #333; }
ul.product-list li:last-child {	margin-right: 0px; }
h3.kb-title {
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
  letter-spacing: 0.1em;
}
.kb-button {
	display: inline-block;
	min-width: 100px;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 10px 3px;
	border-radius: 5px;
	text-decoration: none !important;
	background-color: #333;
	color: #FFF !important;
	outline: none;
	padding: 7px 12px;
	border: 0px;
}
.reason-list { margin: 0px 0px 0px 0px; }
.reason-list .container-fluid {
	background-color: #FFF;
	padding: 15px;
	padding-bottom: 28px;
}
.reason-list .img-wrap {
	background-color: #FFF;
	padding: 13px;
	display: inline-block;
	border-radius: 50%;
}
.reason-list .img-wrap img {}
.reason-list .box {	border: 0px solid #999;	text-align: center; }
.reason-list .description {	text-transform: uppercase; font-weight: bold; }
.reason-list p { font-size: 12px; }
.white-bg {
	background-color: #FFF;
	border-top: 3px solid #27AE61;
	margin-bottom: 30px;
	padding-bottom: 15px;
}
ul#small-banner {
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 40px;
}
ul#small-banner li { display: inline-block; margin-right: 45px; }
ul#small-banner li:last-child { margin-right: 0px; }
.kb-tab ul { list-style-type: none; padding-left: 0px; }
.kb-tab ul li {	display: inline-block; margin-right: 30px; }
.kb-tab ul li a { color: #333 !important; display: inline-block; text-decoration: none; }
.kb-tab ul li.active a { border-bottom: 2px solid #333; opacity: 1; }
.kb-tab ul li.not-active a { opacity: 0.5; }
.kb-tab ul li.not-active a:hover {
	border-bottom: 2px solid #333;
	opacity: 0.8;
}
.seller-photo {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.seller-photo.sm {
	height: 40px;
	width: 40px;
}

.seller-photo-slide {
	width: 110px !important;
    height: 110px !important;
    position: relative;
    margin: 0 auto;
}
ul#seller-list {
	list-style-type: none;
	padding: 0px;
}
ul#seller-list li {
	display: inline-block;
	margin: 30px 19px;
	text-align: center;
}
.see-all {
	position: relative;
	top: 17px;
	border-bottom: 1px solid #333;
	color: #333;
	text-decoration: none !important;
}
#footer p {
	font-size: 12px;
}
.angle-box {
	position: relative;
	top: 15px;
}
.angle-box i.fa-angle-left {
	margin-right: 7px;
}
.angle-box i:hover {
	cursor: pointer;
}

#footer ul {
	list-style-type: none;
	padding: 0;
	margin: 10px 0px;
}
ul.contact-content li {
	display: inline-table
}
ul.contact-content li:first-child {
	margin-right: 5px;
}
ul.contact-content li:last-child {
	font-size: 12px;
}
#footer { padding-top: 20px; }
#footer h4 {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
#footer .footer-list {
	margin-bottom: 5px;
	font-size: 12px;
}
#footer .bank {	width: 60px; }
.icon-playstore {
	height: 100px;
	width: 168px;
	position: relative;
	background: url(../img/playstore.png);
	background-size: contain;
	background-repeat: no-repeat;
	bottom: 15px;
	right: 10px;
}
.footer-caption {
	margin-top: 30px;
	text-align: center;
	border-top: 1px solid #DDDDDD;
	padding: 15px 0px;
}
#message-box {
	background-color: #FFF;
	display: block;
	position: relative;
	top: 9px;
}
#message-box .placeholder {
	width: 100%;
	text-align: center;
	margin-top: 2em;
	color: #AAA;
}
#message-box .message-display {
	height: 367px;
	overflow-y: scroll;
	width: 100%;
	display: block;
	border: 1px solid #DEDEDE;
}
#message-box .message-display ul {
	list-style-type: none;
	padding-left: 0px;
}
#message-box .message-display ul li {
	display: block;
	margin: 10px 13px;
}
#message-box .message-display ul li.send-list {
	text-align:  -webkit-right;
}
#message-box .message-display ul li .send {
	background-color: #8dd457;
    max-width: 210px;
    color: #FFF;
    padding: 14px;
    border-radius: 10px;
    clear: right;
}
#message-box .message-display ul li .read {
	background-color: #999;
	max-width: 210px;
    color: #FFF;
    padding: 14px;
    border-radius: 10px;
}
#message-box .message-display ul li .time {
	font-size: 10px;
	margin-top: 10px;
}
.description-top {
 border: 1px solid #DEDEDE;
 display: inline-block;
 text-align: center;
 margin: 5px;
 padding: 10px;
 background-color: #FFF;
}
#message-box .message-send {
	padding: 5px;
	border: 1px solid #DEDEDE;
	border-top: 0px;
}
#message-box .message-send input {
	 width: 17em;
	outline: none;
	border: 0px solid #A3A3A3;
	padding: 10px;
}
#message-box .message-send button {
	border: 0px;
	outline: none;
	background: #7ac144;
	color: #FFF;
	padding: 7px;
	width: 93px;
	border-radius: 5px;
	height: 38px;
}
#offer-box {
	position: relative;
	top: 9px;
	width: 100%;
	display: block;
	background: #FFF;
	padding: 10px;
}
#kb-modal {
	position: fixed;
	top: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: rgba(51, 51, 51, 0.37);
}
#kb-modal .kb-modal-form {
	background-color: #FFF;
	min-height: 100px;
	width: 450px;
	text-align: center;
	display: block;
	position: relative;
	margin: 5em auto;
	padding: 10px 30px 30px 30px;
	margin-top: 155px;
}
#kb-modal .kb-modal-form .modal-close {
	width: 100%;
	font-size: 20px;
	text-align: right;
	position: relative;
	left: 16px;
	margin-bottom: -5px;
}
#kb-modal .kb-modal-form .modal-close i:hover { cursor: pointer; }
#kb-modal .kb-modal-form input, #kb-modal .kb-modal-form .kb-button {
	width: 100%;
	padding: 8px 5px;
	margin: 5px 0px;
	outline: none;
}
#kb-modal .kb-modal-form .kb-button {
	font-size: 18px;
}
#kb-modal .kb-modal-form a, #kb-modal .kb-modal-form span {
	font-size: 12px;
	margin: 10px 0px;
}
.social-media-login { text-align: left; margin-top: 12px; }
.social-media-login ul {
	list-style-type: none;
	padding-left: 0px;
	display: inline-block;
}
.social-media-login ul li {
	display: inline-block;
	margin-left: 5px;
}
.social-media-login ul li .fb, .google {
	color: #FFF;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	outline: none;
	border: 0px;
}
.fb { background-color: #3B5998; }
.google { background-color: #dd4d40; }
.yellow-bg {
	background-color: #FFC904;
}

#search {
	position: relative;
	top: 5px;
	text-align: center;
}
#search input {
	outline: none;
	width: 400px;
	padding: 6px 8px;
	font-size: 12px;
}
#search .kb-button {
	position: relative;
	padding: 6.5px 8px;
	right: 8px;
	background: #27AE61;
	border-radius: 0px;
}
#recent-search ul {
	position: relative;
	left: 22px;
	top: 5px;
	list-style-type: none;
	padding-left: 0px;
}
#recent-search ul li {
	display: inline-block;
	margin-right: 2em;
}
#recent-search ul li:last-child {
	margin-right: 0em;
}
ul#user-section {
	position: relative;
	top: 13px;
	list-style-type: none;
	padding-left: 0px;
}
ul#user-section li {
	margin: 0px 5px;
	display: inline-block;
	position: relative;
}
ul#user-section li.separator {
	border-right: 1px solid #d6d6d6;
	height: 30px;
	margin: 0px 15px;
	position: relative;
	top: 13px;
}
ul#user-section li a, ul#user-section li button {
	border: 2px solid rgba(77, 77, 77, 0.56);
	height: 50px;
	background: transparent;
	display: block;
	border-radius: 50%;
	width: 50px;
	color: rgba(77, 77, 77, 0.72) !important;
	font-size: 24px;
	text-align: center;
}
ul#user-section li button {
	outline: none;
    top: 5px;
    position: relative;
}
ul#user-section li a:hover, ul#user-section li button:hover { border-color: #555; color: #555; }
ul#user-section li a i {
	position: relative;
	top: 6px;
}
.badge {
	padding: 7px !important;
    background-color: #FFC904 !important;
    color: #FFF !important;
    position: absolute;
    top: -5px;
    min-height: 25px;
    right: -10px;
    border-radius: 10px !important;
    min-width: 25px !important;
}
.kb-cart { background-color: #7ac144; }
.kb-deal { background-color: #b9b9b9; }
a.kb-deal:hover { color: #fff !important; }

.seller-section {
	text-align: left;
	margin-top: 8px; 
	border-top: 1px solid #d6d6d6;
	padding-top: 10px;
}
.seller-section ul { list-style-type: none; padding-left: 0px; }
.seller-section ul li {	
	display: inline-block;
    border: 0px;
    margin: 0px;
    margin-right: 7px;
    padding: 0px;
}
.seller-section ul li a { color: #7ac144; }
.seller-section ul li .seller-photo { width: 40px; height: 40px; }
.modal-loading { padding: 45px 0px; }
.loading-caption {  margin: 45px 0px;  color: #7ac144; }
#user-menu {
	position: absolute;
    top: 30px;
    right: 14px;
    background-color: #FFF;
    z-index: 1;
    border: 1px solid #d6d6d6;
    padding: 0px 16px;
}
#user-menu ul { 
	list-style-type: none;
	padding-left: 0px;
}
#user-menu ul li { 
	display: block !important;
	margin: 10px 0px;
}
#user-menu ul li a { display: block; color: #333 !important; }
.product-name {	margin: 10px 0px; display: block; }
.send .content, .read .content {
	word-wrap: break-word;
}
.breadcrumb { font-size: 12px; }
ul.user-message { 
	list-style-type: none;
	padding-left: 0px;
	position: relative;
    top: 10px;
}
ul.user-message li { 
	display: inline-block;
	font-size: 13px;
	padding-left: 10px;
}
ul.user-message li .user-info {
	position: relative;
	top: 8px;
}
ul.user-message li a { 
	display: block;
}
.inbox-table .product-name {
	font-weight: bold;
	margin: 0px;
	font-size: 16px;
}
.inbox-table .message {	margin: 5px 0px; }
.inbox-table .offer-caption { 
	font-size: 12px;
	margin-left: 4px;
}
.inbox-table .product-img {
	height: 100px;
	width: 100px;
	margin-right: 10px;
}
#img-preview {
	list-style-type: none;
	padding-left: 0px;
}
#img-preview .li, #img-preview .li-special {
	display: inline-block;
	margin: 7px;
	position: relative;
}
#img-preview .li img {
	height: 100px;
	width: 100px;
	border-radius: 5px;
}
.img-add {}
.img-add:hover { cursor: pointer; }

.remove-img-btn {
	position: absolute;
    right: 0px;
    background: transparent;
    color: #FFC904;
    font-size: 18px;
    outline: none;
    border: 0px;
}
.cart-img {
	height: 100px;
	width: 100px;
}
.delete-cart-row { 
	font-size: 22px;
}
.side-cart {
	padding: 20px;
	padding-top: 10px;
	border: 1px solid #E0E0E0;
}
.side-cart .main-title {
	text-align: center;
	margin-bottom: 30px;
	font-weight: bold;	
}
.side-cart .title-small {
	font-size: 12px;
	margin-top: 20px;
}
.kb-cart-info-btn {
	font-size: 16px !important;
	width: 10em !important;
}
.borderless td, .borderless tr {
    border: none !important;
}
.my-product-caption {
	padding: 0px 0px;
	border: 1px dashed #b9b9b9;
	margin: 27px 0px 9px 0px;
	color: #27AE61;
	font-family: 'Source Sans Pro', sans-serif;
}
ul.search-list {
	list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
    position: absolute;
    background: #FFF;
    z-index: 1;
    top: 43px;
    left: 22px;
    width: 400px;
    border: 1px solid #b9b9b9;
}
ul.search-list li {
	display: block;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
}
ul.search-list li a {
	color: #333 !important;
}
ul.search-list li:hover {
	background: #DEDEDE;
}
ul.search-list li:last-child {
	border-bottom: 0px;
}
ul.search-list li .content {
	display: inline-block;
}
ul.search-list li .content:last-child {
	text-align: right;
	width: 75%;
}
ul.search-list img {
	height: 80px;
	width: 80px;
}
.not-found {
	font-family: 'Source Sans Pro', sans-serif;
	color: #999;
}
.img-loading-small {
	height: 20px !important;
	width: 20px !important;
}
.breadcrumb {
	margin-top: 10px;
}
ul#account-menu {
	list-style-type: none;
	padding-left: 0px;
}
ul#account-menu li {
	display: block;
	padding: 15px 0px;
	border-top: 1px dashed #a7a7a7;
}
ul#account-menu li:first-child {
	border-top: 0px;
}
ul#account-menu li a {
	color: #757575;
	font-family: 'Source Sans Pro', sans-serif;
}
ul#account-menu li a.active {
	color: #7ac144;
}
.panel-heading-kb {
	color: #FFF !important;
    background-color: #27AE61 !important;
}
input[type="text"], input[type="password"], input[type="email"] {
	width: 100%;
    padding: 8px 5px;
    outline: none;
}
#upload-dp {
	background-color: #b9b9b9;
}
.control-label {
	padding-top: 9px !important;
	color: #777;
	font-family: 'Source Sans Pro', sans-serif;
}
textarea { outline: none; }
.error-message { 
	color: #d9534f; 
	font-family: 'Source Sans Pro', sans-serif;
}
.success-message {
	color: #5cb85c;
	font-family: 'Source Sans Pro', sans-serif;
}
ul.image-preview-small {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	width: 100%;
}
ul.image-preview-small li {
    border: 1px solid #ccc;
    width: 100%;
    display: block;
	margin-bottom: 15px;
}
ul.image-preview-small li:last-child {	
	margin-bottom: 0px;
}
ul.image-preview-small li img { 
	width: 100%;
	height: 62px;
}
ul.image-preview-small li:hover { 
	cursor: pointer;
}
#zoom-img {
	width: 330px;
	margin-left: 15px;
	height: 330px;
}
#product-detail-title {
	font-size: 23px;
}
#product-detail-description {
	margin: 10px 0px;
	font-family: 'Source Sans Pro', sans-serif;
}
#product-detail-price {
	font-size: 35px;
}
.bio {
	font-style: italic;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 10px 0px;
}
.contact {
 	font-family: 'Source Sans Pro', sans-serif;
}
.no-product {
 	font-family: 'Source Sans Pro', sans-serif;
    padding: 5px 0px 25px 0px;
    color: #999;
}
#load-more {
	background-color: #b9b9b9;
}
.profil-box {
	width: 21em;
    height: 25em;
}
.fixed {
    position: fixed;
    top: 2.5em;
}
.relative {
	position: relative;
}
.kb-iframe {
	overflow: hidden;
	width: 100%;
    height: 80em;
    border: 0px;
    margin-top: 1em;
}

#edit-product-img {
	height: 250px;
    width: 250px;
}
#edit-product-name {
	margin: 25px 0px;
    font-size: 18px;
}
.edit-desc {
	width: 100%;
	height: 22em;
	margin-top: 10px;
	resize: none;
}
.edit-product-price {
	width: 100% !important;
    text-align: left;
    height: 35px;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    padding-left: 10px !important;
}
#apply-update {
	width: 6em !important;
    font-size: 14px !important;
    height: 2.47em;
}
.option-detail {
	position: fixed !important;
    z-index: 2 !important;
    top: 6em !important;
    left: 35em !important;
    background: #FFF !important;
    padding: 10px !important;
    width: 30em !important;
    height: 32em !important;
}
.update-product {
	height: 422px;
	width: 240px;
	position: relative;
}
.validate-product {
	height: 422px;
	width: 240px;
	position: relative;
}
.delete-product {
	height: 422px;
	width: 240px;
	position: relative;
}
.validate-product .progressbar {
	position: relative;
	top: 9em;
}
.c-seller_name {
    position: relative;
    top: 9px;
}
.li-on-top {
	position: relative;
	z-index: 2;
}

	
#produkserupa-box {
	background-color: #FFF;
	display: block;
	position: relative;
	top: 0px;
}
#produkserupa-box .product-display {
	height: 418px;
	overflow-y: scroll;
	width: 100%;
	display: block;
	border: 1px solid #DEDEDE;
}
#produkserupa-box .title {
	background: #7ac144 !important;
	color: #FFF;
	padding: 10px;
	font-family: 'Source Sans Pro';
	text-align: center;
}
#produkserupa-box ul {
	list-style-type: none;
	padding-left: 0px;
}
#produkserupa-box  ul li {
	display: block;
	border-bottom: 1px solid #E4E4E4;
}
#produkserupa-box  ul li:last-child {
	border-bottom: 0px;
}
#produkserupa-box  ul li a {
	display: block;
	padding: 0px 10px;
	color: #666 !important;
}
#produkserupa-box  ul li a:hover {
	background: #F7F7F7
}
#produkserupa-box ul li a .product-info {
	position: relative;
	top: 12px;
}
#produkserupa-box ul li a .product-info .price {
	font-size: 18px;
}
#produkserupa-box .product-display ul li.send-list {
	text-align:  -webkit-right;
}
#produkserupa-box .product-display ul li .send {
	background-color: #8dd457;
    max-width: 210px;
    color: #FFF;
    padding: 14px;
    border-radius: 10px;
    clear: right;
}
#produkserupa-box .product-display ul li .read {
	background-color: #999;
	max-width: 210px;
    color: #FFF;
    padding: 14px;
    border-radius: 10px;
}
#produkserupa-box .product-display ul li .time {
	font-size: 10px;
	margin-top: 10px;
}
#produkserupa-box .product-display-img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-top: 20px;
	margin-bottom: 20px; 
}
#message-box .message-bargain {
	padding: 5px;
	border: 1px solid #DEDEDE;
	border-top: 0px;
}
#message-box .message-bargain input {
    width: 17em;
	outline: none;
	border: 1px solid #bfbfbf;
	padding: 10px;
}
#message-box .message-bargain button {
	border: 0px;
	outline: none;
	background: #7ac144 !important;
	color: #FFF;
	padding: 7px;
	width: 93px;
	border-radius: 5px;
	height: 3em;
}
#btn-bargain, #btn-bargain-disabled {
	font-family: 'Source Sans Pro';
}
#offer-box {
	position: relative;
	top: 9px;
	left: 6px;
	width: 100%;
	display: block;
	background: #FFF;
	padding: 22px 0px;
}
ul.inbox-list-parent {
	list-style-type: none;
	padding-left: 0px;
}
ul.inbox-list-parent li.inbox-list {
	display: block;
}
ul.inbox-list-parent li.inbox-list > a{
	padding-top: 17px;
    display: block;
    border-bottom: 1px solid #d2d2d2;
    height: 160px;
    color: #999 !important;
}
ul.inbox-list-parent li.inbox-list:last-child > a{
    border-bottom: 0px;
}
.chat-read {
	background: #f5f4f4;
}
.inbox-choose {
	margin-right: 5px !important;
}
.check-all-wrap {
	margin-left: 27px;
    margin-top: 20px;
    font-family: 'Source Sans Pro';
}
.inbox-delete {
	font-family: 'Source Sans Pro';
	background-color: #ff7c7c;
}
.bargain-button {
	width: 68px !important;
    font-size: 12px;
    position: relative;
    height: 30px !important;
    top: 4px;
}
.bargain-button.accept {
	background-color: #95c173 !important;
}
.bargain-button.reject {
	background-color: #d06969 !important;
}
.message3 {
    background-color: #ff6e6e !important;
	font-size: 12px;
}
.message2 {
	background-color: #66b7ce !important;
	font-size: 12px;
}
.message1 {
	font-size: 12px;
}
#cart-badge {
	position: absolute;
    top: 0px;
}
.confirm-btn {
	width: 100px !important;
	text-align: center !important;
	font-size: 12px !important;
}
.alert-box {
		color:#555;
		border-radius:10px;
		font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
		padding:10px 36px;
		margin:10px;
} 
.notice {
		background:#FFF url('../img/notice.png') no-repeat 10px 50%;
		border:1px solid #8ed9f6;
}
.rdio-filter {
	background: #9e9e9e;
    padding: 10px;
    display: inline-block;
    text-align: center;
    color: #FFF !important;
    border-radius: 5px;
    width: 100%;
    text-decoration: none !important;
}
.rdio-filter:hover {
	color: #FFF !important;
}

.right-tabs .nav {
    float: right;
    border-bottom: 0px;
}
.right-tabs .nav li { float: left }
.right-tabs .tab-content {
    float: left;
    border-top: 1px solid #ddd;
    margin-top: 0px;
}

.nav-tabs > li > a, .nav-tabs > li:hover > a {
	border: 1px solid transparent;
    border-bottom: 1px solid transparent;
	background: #999;
    color: #FFF !important;
    font-weight: bold;
}
.nav-tabs > li.active > a, .nav-tabs > li.active:hover > a {
	border: 1px solid #999 !important;
    border-bottom: 1px solid transparent !important;
	background: #FFF;
    color: #999 !important;
}

.sell-detail-text {
	position: relative;
    top: 9px;
}

.preview-transfer {
	height: 250px;
    width: 250px;
    border: 1px solid #c7c7c7;
    margin-top: 20px;
}

.datepicker {
	top: 25em !important;
}