.mygallery {
	overflow: hidden;
	position: relative;
	margin-left: -10px;
	color: #777;
}

.mygallery >a{
	display:block;
	float: left;
	overflow: hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-box-sizing:border-box;
	position: relative;
}

.mygallery >a img {
	position: absolute;
}
.mygallery >a.no-grid {
	float: none;
}
.mygallery >a.no-grid img {
	position: relative;
}

.mygallery .popup-wrapper {
	position: fixed;
	text-align: center;
	top:0;
	left:0;
	bottom:0;
	right:0;
	opacity: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 9999;
}
	.mygallery .popup-wrapper .popup {
		margin: 7vh auto;
		position: absolute;
		display: none;
		background-color: #fff;
		
	}
	.mygallery .popup-wrapper .popup.active {
		position: relative;
		display: inline-block;
	}


	.mygallery .popup-wrapper .popup img{
		max-height: 500px;
		position: relative;
	}

	.mygallery .popup-close {
		position: absolute;
		z-index: 99;
		top:0px;
		right:0px;
		font-family: sans-serif;
		color: #fff;
		font-size: 14px;
		padding:5px 10px;
		border-radius: 50%;
		float: none;
		text-decoration: none;
		font-weight: 700;
	}

	.mygallery .next, .prev {
		color: #fff;
		background-color: #222;
		text-decoration: none;
		padding:7px 10px;
		font-family: sans-serif;
		text-transform: uppercase;
		position: absolute;
		top:45%;
		z-index: 99;
		border:1px solid #aaa;
	}
	.mygallery .prev {
		left:-50px;
	}
	.mygallery .next {
		right: -50px;
	}

/* just light box */

a.justlightbox {
	position: relative;
}
	a.justlightbox img{
		max-width: 100%;
	}